<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permiso para la musica -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- Permiso para el texto to speech -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFinalPMM"
        tools:targetApi="31">
        <activity
            android:name=".Recolectar"
            android:exported="false" />
        <activity
            android:name=".AjustesActivity"
            android:exported="false" />
        <activity
            android:name=".ChatBotActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GestionObjetos"
            android:exported="false" />
        <activity
            android:name=".ObjetoActivity"
            android:exported="false" />
        <activity
            android:name=".TobeContinuedActivity"
            android:exported="false" />
        <activity
            android:name=".PersonajeCreadoActivity"
            android:exported="false" />
        <activity
            android:name=".CreacionPersonajeActivity"
            android:exported="false" />
        <activity
            android:name=".MercaderActivity"
            android:exported="false" />
        <activity
            android:name=".EnemigoActivity"
            android:exported="false" />
        <activity
            android:name=".CiudadActivity"
            android:exported="false" />
        <activity
            android:name=".RandomActivity"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" /> <!-- Permiso para la musica -->
        <service android:name=".musica.Musica" />
    </application>

</manifest>